body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.break {
    flex-basis: 100%;
    width: 0;
    height: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 900px;
    
    
}

.secondBreak {
    flex-basis: 100%;
    width: 0;
    height: 0;
}
    

.div {
    display: flex;
    flex: 1 0 1%;
    border: 1px solid black;
    box-sizing: border-box; 
    
    
}

#hover {
    background-color: black;
    color: black;

}

* {
    box-sizing: border-box;
}